@keyframes flicker {
    from {
        opacity: 0;
    }
    4% {
        opacity: 0.5;
    }
    6% {
        opacity: 0.45;
    }
    8% {
        opacity: 0.55;
    }
    10% {
        opacity: 0.45;
    }
    11% {
        opacity: 0;
    }
    12% {
        opacity: 0.65;
    }
    14% {
        opacity: 0.55;
    }
    16% {
        opacity: 0.70;
    }
    17% {
        opacity: 0.55;
    }
    19% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.1;
    }
    24% {
        opacity: 0.5;
    }
    26% {
        opacity: 1;
    }
    28% {
        opacity: 0.5;
    }
    38% {
        opacity: 0.45;
    }
    40% {
        opacity: 0.5;
    }
    42% {
        opacity: 0.6;
    }
    44% {
        opacity: 0.5;
    }
    46% {
        opacity: 0.5;
    }
    56% {
        opacity: 0.5;
    }
    58% {
        opacity: 0.75;
    }
    60% {
        opacity: 0.5;
    }
    68% {
        opacity: 0.5;
    }
    70% {
        opacity: 1; /*peak*/
    }
    72% {
        opacity: 0.5;
    }
    93% {
        opacity: 0.5;
    }
    95% {
        opacity: .1; /*peak*/
    }
    97% {
        opacity: 0.5;
    }
    to {
        opacity: 0.5;
    }
}

.flicker {
  animation-name: flicker;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.c-cover {
    padding: 100px 20px 100px;
    
    svg {
        max-width: 500px;
        margin: 0 auto;
        display: block;
        width: 100%;
    }

    @include mq(800) {
        height: 100vh;
        padding: 0 20px;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            max-width: 1300px;
        }

    }
}
